<html>
<head>
  <title>SASTRA Deemed University</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<base href="https://www.sastra.edu/index.php" />
    <title>Research - SASTRA Deemed University</title>
</head>
<div class="footer">
	<p>&copy; SASTRA DEEMED UNIVERSITY, All Rights Reserved. 2019</p>
</div>
<script>
.footer{
	width:100%;
	background-color: darkblue;
	color:white;
	height: 5%;
    text-align: center;
}
</script>
</html>
