{%load static%}
<html>
<head>
	<title>SASTRA Deemed University</title>
	<meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
	/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
	  <!-- Compiled and minified JavaScript for Materialize -->
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<link rel="stylesheet" href="{%static 'header.css' %}">
	<script src="{% static 'header.js' %}"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title>Research - SASTRA Deemed University</title>
</head>
<body oncontextmenu="return false" >
			
	<div id="navbar" style="z-index: 999">
			<a href="/logq" class="buttons">{{logg}}</a>
			<a href="/profile" class="buttons">Profile</a>
			<a href="" class="buttons">Downloads</a>
			<a href="http://www.sastra.edu" class="buttons">SASTRA Home</a>
			<a href="http://www.sastra.edu" class="brand-logo"><div class="logo2"><img src="https://www.sastra.edu/images/sastra/SASTRA_DEEMED_NEW_1.png" alt="SASTRA" /></div></a>
			<p class="main">Research Portal</p>
	</div>
	<div id="navbar-mobile">
		<a href="#" class="brand-logo"><div class="logo2"><img src="https://www.sastra.edu/images/sastra/SASTRA_DEEMED_NEW_1.png" alt="SASTRA" /></div></a>
		<a href="javascript:void(0);" class="icon" onclick="sideLoad()">
					<i class="fas fa-bars"></i>
		</a>
	</div>
	<div id="sidebar-mobile">
		<a href="javascript:void(0);" class="icon" onclick="sideClose()">
					<i class="fas fa-times"></i>
		</a>
		<a href="#about" onclick="sideClose()">{{logg}}</a>
		<a href="#" onclick="sideClose()">Downloads</a>
		<a href="#" onclick="sideClose()">SASTRA Home</a>
	</div> 	
	<div class="divided">
			<div class="done1">
					<div class="card">
						<div class="card-title">Research at SASTRA</div>						  
						<hr>
						<p style="text-align: left; padding: 15px">SASTRA realizes the importance of providing a fine balance of research and teaching in its carefully designed academic programmes.  This has resulted in over 60 successfully completed research projects and 54 ongoing research projects funded by the Department of Science & Technology, Department of Biotechnology, Department of AYUSH, Defence Research & Development Organization, Defence Research & Development Laboratory, Indian Space Research Organization, Council for Scientific & Industrial Research, Indian Council for Medical Research, etc., and private organizations like Tata Consultancy Services Ltd., Accenture, Orchid Pharmaceuticals Pvt. Ltd., Brakes India Ltd., etc.</p>
						<br/><br/>
						<div style="display: flex">
								<img class="car" src="{% static 'jvc.jpg' %}">
								<img class="car" src="{% static 'chith.jpg' %}">
								<img class="car" src="{% static 'vkj.jpg' %}">
						</div>
					</div>
				</div>
	<div class="done">
	<div class="card">
		<div class="card-title">Join SASTRA</div>
		<hr/>
		<h6 style="padding: 15px;">Join as a Scholar</h6>
		<a href="/reg/"><button class="btn-small waves-effect waves-lighten blue darken-3">Apply</button></a>
		<h6 style="padding: 15px;">Join as a Supervisor</h6>
		<a href="/spreg/"><button class="btn-small waves-effect waves-lighten blue darken-3">Apply</button></a>
		<br/><br/>
		<h6 style="padding: 15px;">Learn more about SASTRA</h6>
		<a href="https://www.sastra.edu/"><button class="btn-small waves-effect waves-lighten blue darken-3">Learn more</button></a>
	</div>	
</div>

</div>
	<br><br>
<div class="footer">
	<p class="footer-text">&copy; SASTRA DEEMED UNIVERSITY, All Rights Reserved. 2019</p>
</div>

<style>
.divided{
	display: flex;
}

.car{
	height: 170px;
	width: 350px;
	margin: auto;
	padding-right: 10px;
    padding-left: 10px;
}
.done{
	width: 24%;
	padding: 0.5%;
	margin: auto;
	text-align: center;
}
.done1{
	width: 75%;
	padding: 0.5%;
	margin: auto;
	text-align: center;
}
.card{
	height: 500px;
	padding: 5px;
}
.card-title{
	padding-top: 15px;
}
body{
	margin:0;
	padding:0;
	width: 100%;
}

.footer{
	width:100%;
	background-color: #3C5EC1;
	color:white;
	height: 5%;
    text-align: center;
}


</style>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(elems,{fullWidth: true});
  });</script>
</body>
</html>