<!DOCTYPE html>
<html>
<head>
  <title>SASTRA Deemed University</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<base href="https://www.sastra.edu/index.php" />
    <title>Research - SASTRA Deemed University</title>
</head>
<body>
  <section class="section">
    <div class="container">
          <div id="react" class="columns"><!-- React --></div>
          <p>{{dbA}}</p>
          <p>{{dbAA}}</p>
    </div>
  </section>
  <script>
      var CompData=JSON.parse("{{dbA|escapejs}}");
      var CompType="search";
  </script>
  <div class="footer">
    <p>&copy; SASTRA DEEMED UNIVERSITY, All Rights Reserved. 2019</p>
  </div>
  
</body>
{% load static %}
<script src="{% static "main.js" %}"></script>
<script>
.footer{
	width:100%;
	background-color: darkblue;
	color:white;
	height: 5%;
    text-align: center;
}
</script>
</html>