{%load static%}
<html>
<head>
	<title>SASTRA Deemed University</title>
	<meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
	<link rel="stylesheet" href="{%static 'header.css' %}">
  <script src="{% static 'header.js' %}"></script>
    	<!--Materialize CSS-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- Compiled and minified JavaScript for Materialize -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script> 
  <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title>Research - SASTRA Deemed University</title>
</head>
<body oncontextmenu="return false" >
			
    <div id="navbar">
        <a href="javascript:void(0)" class="buttons">Downloads</a>
          <a href="http://www.sastra.edu" class="buttons">SASTRA Home</a>
          <p class="main">Research Portal</p>
        <a href="http://www.sastra.edu" class="brand-logo"><div class="logo2"><img src="https://www.sastra.edu/images/sastra/SASTRA_DEEMED_NEW_1.png" alt="SASTRA" /></div></a>
    </div>
	<div id="navbar-mobile">
		<a href="#" class="brand-logo"><div class="logo2"><img src="https://www.sastra.edu/images/sastra/SASTRA_DEEMED_NEW_1.png" alt="SASTRA" /></div></a>
		<a href="javascript:void(0);" class="icon" onclick="sideLoad()">
					<i class="fas fa-bars"></i>
		</a>
	</div>
	<div id="sidebar-mobile">
		<a href="javascript:void(0);" class="icon" onclick="sideClose()">
					<i class="fas fa-times"></i>
		</a>
		<a href="#about" onclick="sideClose()">{{logg}}</a>
		<a href="#" onclick="sideClose()">Downloads</a>
		<a href="#" onclick="sideClose()">SASTRA Home</a>
	</div> 	
			<!---------------- Mid content ----------------------------------->
          <div class="container">
              <h3 class="item-page-title">Registration Form - Scholar</h3>
            <div class="divider"></div>
            <form method="POST" action="http://127.0.0.1:8000/schreg/" name="logins">
              {%csrf_token%}
              <div class="input-field col s6">
                  <input placeholder="Name" id="name" name="name" type="text" class="validate">
              </div>
              <span>Sex</span>
              <label>
                  <input name="sex" value="Male" type="radio">
                  <span>Male</span>
              </label>
              <label>
                  <input name="sex" value="Female" type="radio">
                  <span>Female</span>
              </label>
              <br><br>
              <span>Date of Birth</span>
              <input type="text" class="datepicker" name="dob">
              <span>Category:</span>
              <select name="category">
                  <option value="" disabled selected>Choose your option</option>
                  <option name="category" value="OC">OC</option>
                  <option name="category" value="BC">BC</option>
                  <option name="category" value="MBC">MBC</option>
                  <option name="category" value="SC">SC</option>
                  <option name="category" value="ST">ST</option>
              </select>
              <div class="input-field col s6">
                  <input placeholder="Register Number" id="regno" name="regno" type="text" class="validate">
              </div>
              <div class="input-field col s6">
                  <input placeholder="Department" id="school" name="school" type="text" class="validate">
              </div>
              <div class="input-field col s6">
                  <input placeholder="Official E-mail ID" id="email" name="email" type="text" class="validate">
              </div>
              <div class="input-field col s6">
                  <input placeholder="Personal E-mail ID" id="pemail" name="pemail" type="text" class="validate">
              </div>
              <div class="input-field col s6">
                  <input placeholder="Phone Number" id="phno" name="phno" type="text" class="validate">
              </div>
              <div class="input-field col s6">
                  <input placeholder="Supervisor ID" id="sup" name="supervisor" type="text" class="validate">
              </div>
              <span>Date of Registration</span>
              <input type="text" class="datepicker" name="regdate">
              <div class="input-field col s6">
                  <input id="title" name="retitle" type="text" class="validate">
                  <label for="title">Proposed Title of Research</label>
              </div>
              <span>Type</span>
              <label>
                  <input name="typet" value="Part-Time" type="radio">
                  <span>Part-Time Scholar</span>
              </label>
              <label>
                  <input name="typet" value="Full-Time" type="radio">
                  <span>Full-Time Scholar</span>
              </label>
              <br><br>
              <span>Institution:</span>
              <label>
                  <input name="exin" value="SASTRA" type="radio" onclick="document.getElementById('external').style.display='none'">
                  <span>SASTRA</span>
              </label>
              <label>
                  <input name="exin" value="Other" type="radio" onclick="document.getElementById('external').style.display='block'">
                  <span>Other</span>
              </label>
              <br>
              <div class="external" id="external">
                  <div class="input-field col s6">
                      <input id="inst" name="institution" type="text" value="Institution Name" class="validate">
                  </div>
                  <div class="input-field col s6">
                      <input id="inst_ad" name="institution_ad" type="text" value="Institution Address" class="validate">
                  </div>
              </div>
              <br><br><br><br>
              <center><button class="btn waves-effect waves-light blue" type="submit" name="Info">submit
                </button></center>
            </form>
            </div>
<style>
input{
  padding-right: 5%;
  padding-left: 5%;
}
.external{
	display: none;
	width:100%;
}
.externalsu{
	display:none;
	width:100%;
}
.main{
  margin-right: 24%;
}

.footer{
	width:100%;
	background-color: #0D2C5F;
	color:white;
	height: 5%;
    text-align: center;
    z-index: 999%;
}


</style>

</div>
</div>
 </div>
				</div>
		<div id="bottom">
			<div style="<!--border:1px outset #eee;-->">
				<div id="bottom-1">
				<div id="bottom_useful-link"><div class="clear"></div></div>
				<div id="bottom2"><div class="clear"></div></div>
				<div id="bottom_contact"><div class="clear"></div></div>
				<div class="clear"></div>
				</div>
			</div>
		</div>
		</div><div class="clear"></div>
		</div>
	</div>

	<div class="footer">
		<p class="footer-text">&copy; SASTRA DEEMED UNIVERSITY, All Rights Reserved. 2019</p>
	</div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
  });


$(function(){
  $("#datepicker").datepicker({
  dateFormat: "dd mmm yy",
  changeYear: true,
  changeMonth: true,
});
  $("#datepicker1").datepicker({
  dateFormat: "dd mmm yy"
});
});

function myfunc1(){
  var A=document.getElementById('1')
  {
    A.style.fontWeight='bold';
    A.style.borderBottom='none';
    A.style.borderWidth='thin';
  }
  var B=document.getElementById('2')
  {
    B.style.fontWeight='normal';
    B.style.borderBottom='solid';
    B.style.borderWidth='thin';
  }
  var C=document.getElementById('11')
  {
    C.style.display='block';
  }
  var D=document.getElementById('22')
  {
    D.style.display='none';
  }

}
function myfunc2(){
  var A=document.getElementById('1')
  {
    A.style.fontWeight='normal';
    A.style.borderBottom='solid';
    A.style.borderWidth='thin';
  }
  var B=document.getElementById('2')
  {
    B.style.fontWeight='bold';
    B.style.borderBottom='none';
    B.style.borderWidth='thin';

  }
  var C=document.getElementById('11')
  {
    C.style.display='none';
  }
  var D=document.getElementById('22')
  {
    D.style.display='block';
  }
}


	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-48118274-1', 'auto');
	  ga('send', 'pageview');
	</script>
</body>
</html>
