{%load static%}
<html>
<head>
	<title>SASTRA Deemed University</title>
	<meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
			<!--Materialize CSS-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type = "text/javascript"
    src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           

	<!-- Compiled and minified JavaScript for Materialize -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<link rel="stylesheet" href="{%static 'header.css' %}">
	<script src="{% static 'header.js' %}"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title>Research - SASTRA Deemed University</title>
</head>
<body oncontextmenu="return false" >
        <style>
            	.footer{
	width:100%;
	background-color: #3C5EC1;
	color:white;
	height: 5%;
    text-align: center;
    margin-top: 17%;
}
body{
	margin:0;
	padding:0;
}
.body1{
    width: 80%;
    margin-left: 10%;
}
.main{
    margin-right: 24%;
}
#scholar-box{
    display: none;
}
        </style>
        	<div id="navbar">
                    <a href="/logq" class="buttons">{{logg}}</a>
                    <a href="javascript:void(0)" class="buttons">Downloads</a>
                        <a href="http://www.sastra.edu" class="buttons">SASTRA Home</a>
                        <p class="main">Research Portal</p>
                    <a href="http://www.sastra.edu" class="brand-logo"><div class="logo2"><img src="https://www.sastra.edu/images/sastra/SASTRA_DEEMED_NEW_1.png" alt="SASTRA" /></div></a>
            </div>
        <div id="navbar-mobile">
            <a href="#" class="brand-logo"><div class="logo2"><img src="https://www.sastra.edu/images/sastra/SASTRA_DEEMED_NEW_1.png" alt="SASTRA" /></div></a>
            <a href="javascript:void(0);" class="icon" onclick="sideLoad()">
                        <i class="fas fa-bars"></i>
            </a>
        </div>
        <div id="sidebar-mobile">
            <a href="javascript:void(0);" class="icon" onclick="sideClose()">
                        <i class="fas fa-times"></i>
            </a>
            <a href="#about" onclick="sideClose()">{{logg}}</a>
            <a href="#" onclick="sideClose()">Downloads</a>
            <a href="#" onclick="sideClose()">SASTRA Home</a>
        </div> 
        <div class="body1">
            <br><br>
        <span>New Message</span>
        <br><br>
        <div class="input-field col s12">
            <form method="POST" action="/newText/">{%csrf_token%}
                <select name="receiver" onchange="eScholar(this.value)">
                  <option value="" disabled selected>Choose your option</option>
                  <option name="receiver" value="1">Scholar</option>
                  <option name="receiver" value="2">Dean</option>
                  <option name="receiver" value="3">Dean & Scholar</option>
                </select>
                <label>Choose recepients</label>
                <div id="scholar-box" class="input-field col s6">
                    <input id="scholar" type="text" name="scholar" value="0" class="validate">
                    <label for="scholar">Choose Scholar</label>          
                </div>
                <div class="input-field col s6">
                        <input id="input_text" type="text" name="title" data-length="50">
                        <label for="input_text">Title</label>
                </div>
                <div class="input-field col s12">
                        <textarea id="textarea2" class="materialize-textarea" name="content" data-length="500"></textarea>
                        <label for="textarea2">Content</label>
                </div>
                <button class="btn waves-effect waves-light blue" type="submit" name="action">Send
                        <i class="material-icons right">send</i>
                      </button>            </form>
        </div>
    </div>
        <script>
function eScholar(value){
    if (value=='1' || value=='3'){
    document.getElementById('scholar-box').style.display="block";
    document.getElementById('scholar').value="";
    }
    if (value=='2'){
        document.getElementById('scholar-box').style.display="none";
    document.getElementById('scholar').value="0";
    }
}
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
  });

         $(document).ready(function() {
    $('input#input_text, textarea#textarea2').characterCounter();
  });
  </script>
  <br><br> <br><br>
  <div class="footer">
        <p class="footer-text">&copy; SASTRA DEEMED UNIVERSITY, All Rights Reserved. 2019</p>
    </div>
        </body>
        </html>