{%load static%}
<html>
<head>
	<title>SASTRA Deemed University</title>
	<meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
	/>
			<!--Materialize CSS-->
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
			<!-- Compiled and minified JavaScript for Materialize -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
			<link rel="stylesheet" href="{%static 'header.css' %}">
			<script src="{% static 'header.js' %}"></script>
	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title>Research - SASTRA Deemed University</title>
</head>
<body oncontextmenu="return false" >
			
	<div id="navbar">
			<a href="/logq" class="buttons">{{logg}}</a>
			<a href="/support" class="buttons">Support</a>
			<a href="javascript:void(0)" class="buttons">Downloads</a>
			<a href="www.sastra.edu" class="buttons">SASTRA Home</a>
			<p class="main">Research Portal</p>
	    	<a href="www.sastra.edu" class="brand-logo"><div class="logo2"><img src="https://www.sastra.edu/images/sastra/SASTRA_DEEMED_NEW_1.png" alt="SASTRA" /></div></a>
	</div>
	<div id="navbar-mobile">
		<a href="#" class="brand-logo"><div class="logo2"><img src="https://www.sastra.edu/images/sastra/SASTRA_DEEMED_NEW_1.png" alt="SASTRA" /></div></a>
		<a href="javascript:void(0);" class="icon" onclick="sideLoad()">
					<i class="fas fa-bars"></i>
		</a>
	</div>
	<div id="sidebar-mobile">
		<a href="javascript:void(0);" class="icon" onclick="sideClose()">
					<i class="fas fa-times"></i>
		</a>
		<a href="#about" onclick="sideClose()">{{logg}}</a>
		<a href="#" onclick="sideClose()">Support</a>
		<a href="#" onclick="sideClose()">Downloads</a>
		<a href="#" onclick="sideClose()">SASTRA Home</a>
	</div> 	
			
			<!---------------- Mid content ----------------------------------->
					<div class="clearpad"><div class="item-page">
						<style>
					body {font-family: Arial;}

					/* Style the tab */
					.footer{
	width:100%;
	background-color: #3C5EC1;
	color:white;
	height: 5%;
    text-align: center;
    margin-top: 20%;
}
.main{
	margin-right: 21%
}
					</style>
					</head>
					<body>

					<h4>Supervisor:</h4>
					<div class="hold">
							<div class="holding s-12">
								<ul class="tabs">
									<li class="tab"><a class="tabbed" href="#prog"><span class="blue-text text-darken-2">Personal Details</span></a></li>
									<li class="tab"><a class="tabbed" href="#regde"><span class="blue-text text-darken-2">Scholar Details</span></a></li>
									<li class="tab"><a class="tabbed" href="#resde"><span class="blue-text text-darken-2">Research Details</span></a></li>
								</ul>
							</div>
						</div>
					<div id="regde">
					  <h4>List of Scholars: </h4>
						<table>
							<tr>
								<th>Register Number</th>
								<th>Name</th>
								<th>E-mail</th>
								<th>Information</th>
				      </tr>
            {%for s in sch%}
						<tr>
							<td>{{s.scholar.regno}}</td>
							<td>{{s.name}}</td>
							<td>{{s.email}}</td>
							<td>
								<form method="POST" action="http://127.0.0.1:8000/schinfo/">
									{%csrf_token%}
									<input type="hidden" name="regno" value={{s.scholar.regno}}>
									<input type="submit" name="Info" value="Info">
								</form>
							</td>
						</tr>
						{%endfor%}
					</table>
					</div>

					<div id="resde">
						<h4>Publication Details</h4>
						<table>
							<tr>
								<th>Title of the Publication</th>
								<th>Name of the Journal</th>
								<th>Authors </th>
								<th>Year of Publication</th>
							</tr>
							{%for p in pubs%}
							  <tr>
									<td>{{p.title}}</td>
									<td>{{p.name}}</td>
									<td>{{p.author}}</td>
									<td>{{p.date}}</td>
								</tr>
							{%endfor%}
						</table>
					</div>

					<div id="prog" class="tabcontent">
						<center><table>
						<tr>
							<th>First Name:</th>
							<td>{{name}}</td>
						</tr>
						<tr>
							<th>Last Name:</th>
							<td>{{lname}}</td>
						</tr>
						<tr>
							<th>Sex:</th>
							<td>{{sex}}</td>
						</tr>
						<tr>
							<th>E-mail:</th>
							<td>{{email}}</td>
						</tr>
						<tr>
							<th>Employee ID:</th>
							<td>{{mid}}</td>
						</tr>
						<tr>
							<th>School:</th>
							<td>{{school}}</td>
						</tr>
						<tr>
							<th>Area of Interest:</th>
							<td>{{aoi}}</td>
						</tr>
					</table>
				</center>
					</div>

					<script>
					function openCity(evt, cityName) {
					    var i, tabcontent, tablinks;
					    tabcontent = document.getElementsByClassName("tabcontent");
					    for (i = 0; i < tabcontent.length; i++) {
					        tabcontent[i].style.display = "none";
					    }
					    tablinks = document.getElementsByClassName("tablinks");
					    for (i = 0; i < tablinks.length; i++) {
					        tablinks[i].className = tablinks[i].className.replace(" active", "");
					    }
					    document.getElementById(cityName).style.display = "block";
					    evt.currentTarget.className += " active";
					}
					</script>
</div>
</div>
 </div>
				</div>
		<div id="bottom">
			<div style="<!--border:1px outset #eee;-->">
				<div id="bottom-1">
				<div id="bottom_useful-link"><div class="clear"></div></div>
				<div id="bottom2"><div class="clear"></div></div>
				<div id="bottom_contact"><div class="clear"></div></div>
				<div class="clear"></div>
				</div>
			</div>
		</div>
		</div><div class="clear"></div>
		</div>
	</div>

	<div class="footer">
		<p class="footer-text">&copy; SASTRA DEEMED UNIVERSITY, All Rights Reserved. 2019</p>
	</div>
</div>
<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-48118274-1', 'auto');
	  ga('send', 'pageview');
	</script>
</body>
</html>
