<html>
{%load static%}
<head>
	<title>SASTRA Deemed University</title>
	<base href="http://sastra.edu/index.php/2014-01-29-07-16-29.html" />
	<title>Research - SASTRA Deemed University</title>
	<link href="/templates/santosh/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
	<link href="/plugins/editors/jckeditor/typography/typography2.php" rel="stylesheet" type="text/css" media="null" attribs="[]" />
	<link href="http://sastra.edu/modules/mod_icemegamenu/themes/default/css/default_icemegamenu.css" rel="stylesheet" type="text/css" />
	<link href="/" rel="stylesheet" type="text/css" />
	<script src="/media/jui/js/jquery.min.js?2dad9313916a52135a01e0c9b50e8adb" type="text/javascript"></script>
	<script src="/media/jui/js/jquery-noconflict.js?2dad9313916a52135a01e0c9b50e8adb" type="text/javascript"></script>
	<script src="/media/jui/js/jquery-migrate.min.js?2dad9313916a52135a01e0c9b50e8adb" type="text/javascript"></script>
	<script src="/media/jui/js/bootstrap.min.js?2dad9313916a52135a01e0c9b50e8adb" type="text/javascript"></script>
	<script src="/media/system/js/mootools-core.js?2dad9313916a52135a01e0c9b50e8adb" type="text/javascript"></script>
	<script src="/media/system/js/core.js?2dad9313916a52135a01e0c9b50e8adb" type="text/javascript"></script>
	<script src="/media/system/js/mootools-more.js?2dad9313916a52135a01e0c9b50e8adb" type="text/javascript"></script>
	<script type="text/javascript">
</script>

	<link rel="stylesheet" href="/templates/santosh/css/style.css" type="text/css" />
	<link rel="stylesheet" href="/templates/santosh/css/form.css" type="text/css" />
	<script type="text/javascript" src="/templates/santosh/js/h.js"></script>
	<script type="text/javascript"> $.noConflict();</script>
	<script type="text/javascript">
					var cookies = document.cookie.split(";");
					for (var i = 0; i < cookies.length; i++) {
						function deleteAllCookies() {
						var cookie = cookies[i];
						var eqPos = cookie.indexOf("=");
						var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
						document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
					}
				}
	</script>
</head>
<body oncontextmenu="return false" >
<div  id="myDiv" class="animate-bottom">
	<div id="top">
		<div id="top1">
		<div class="topmenu right"><ul class="nav menu">
<li class="item-316"><a href="http://www.scholarships.gov.in/main.do" target="_blank" rel="noopener noreferrer">National Scholarship Portal</a></li>
<li class="item-327"><a href="http://www.sastra.edu/downloads/news/2016/may/UGC_DEB_Ins.Recg.Doc.pdf" target="_blank" rel="noopener noreferrer">UGC-DEB</a></li>
<li class="item-319"><a href="/index.php/ncte.html" >NCTE</a></li><li class="item-355"><a href="http://www.sastra.edu/sunatinsranfr/index.php" target="_blank" rel="noopener noreferrer">NIRF</a></li>
<li class="item-262"><a href="/index.php/headlines-archives.html" >Headlines Archives</a></li>
<li class="item-263"><a href="/index.php/events-archives.html" >Events Archives</a></li>
<li class="item-104"><a href="http://www.sastra.edu/core/subcore.asp" target="_blank" rel="noopener noreferrer">Tifac</a></li>
<li class="item-105"><a href="http://mail.sastra.edu" target="_blank" rel="noopener noreferrer">ShanMail</a></li>
<li class="item-106"><a href="http://mail.sastra.ac.in" target="_blank" rel="noopener noreferrer">Student Mail</a></li>
<li class="item-194"><a href="/index.php/contact.html" >Contact</a></li></ul>
</div>
		</div>
		<div class="clear"></div>
	</div>
	<div id="header">
		<div id="head">
		<div class="logoL left"><img src="/./images/sastra/SASTRA_DEEMED_NEW1.png" /></div>
	<!--<div class="logoM left"></div>-->
		<div class="logoR left">
			<table>
				<tr>
					<td><a href="https://accounts.google.com/ServiceLogin?service=mail&continue=https://mail.google.com/mail/" target="_blank"><img width="30px" src="/./images/sastra/social/google.jpg"></a></td>
					<td><a href="http://www.youtube.com/user/strsastrauniversity" target="_blank"><img width="30px" src="/./images/sastra/social/youtube.jpg"></a></td>
					<td><a href="https://www.facebook.com/sastra.univ" target="_blank"><img width="30px" src="/./images/sastra/social/facebook.png"></a></td>
					<td><a href="https://twitter.com/sastrauniv" target="_blank"><img width="30px" src="/./images/sastra/social/twitter.jpg"></a></td>
				</tr>
			</table>
			<table width="250px">
				<tr>
					<td style="padding:5px;"><div id="search" ><div class="search ">
    <form action="/index.php/2014-01-29-07-16-29.html" method="post" class="form-inline">
    		<input name="searchword" id="mod-search-searchword" maxlength="200"  class="inputbox search-query" type="text" size="20" value="Search ..."  onblur="if (this.value=='') this.value='Search ...';" onfocus="if (this.value=='Search ...') this.value='';" />    	<input type="hidden" name="task" value="search" />
    	<input type="hidden" name="option" value="com_search" />
    	<input type="hidden" name="Itemid" value="113" />
    </form>
</div>
</div></td>
					<td style="padding:5px;"><div id="quick" ></div></td>
				</tr>
			</table>
		</div>
		<div class="clear"></div></div>
	</div>
	<div id="mainmenu">
    <div id="menunav">		<div class="moduletable">
						<div class="icemegamenu">
              <div class="ice-megamenu-toggle">
                <a data-toggle="collapse" data-target=".nav-collapse"></a>
              </div>
              <div class="nav-collapse icemegamenu collapse  ">
                <ul id="icemegamenu" class="meganizr mzr-slide mzr-responsive">
                  <li id="iceMenu_109" class="iceMenuLiLevel_1 mzr-drop parent"><a href="http://sastra.edu/" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">SASTRA Home</span></a>
                    <ul class="icesubMenu  sub_level_1" style="width:230px">
                      <li><div style="float:left;width:240px" class="iceCols">
                        <ul>
                          <li id="iceMenu_108" class="iceMenuLiLevel_2"><a href="http://sptc.sastra.edu" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">SPTC Home</span></a></li>
                          <li id="iceMenu_107" class="iceMenuLiLevel_2"><a href="http://src.sastra.edu" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">SRC Home</span></a></li>
                          <li id="iceMenu_229" class="iceMenuLiLevel_2"><a href="/index.php/2014-01-29-07-13-19/web-archives.html" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">Web Archives</span></a></li>
                        </ul>
                      </div></li>
                    </ul>
                  </li>
                  <li id="iceMenu_110" class="iceMenuLiLevel_1 mzr-drop parent"><a href="/index.php/2014-01-29-07-15-32.html" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">About Us</span></a>
                    <ul class="icesubMenu icemodules sub_level_1" style="width:230px">
                      <li><div style="float:left;width:240px" class="iceCols">
                        <ul>
                          <li id="iceMenu_130" class="iceMenuLiLevel_2"><a href="/index.php/2014-01-29-07-15-32/sastra.html" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">SASTRA</span></a></li>
                          <li id="iceMenu_131" class="iceMenuLiLevel_2"><a href="/index.php/2014-01-29-07-15-32/2014-01-29-11-53-32.html" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">SRC</span></a></li>
                          <li id="iceMenu_132" class="iceMenuLiLevel_2"><a href="http://sptc.sastra.edu/" target="_blank" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">SPTC</span></a></li>
                          <li id="iceMenu_120" class="iceMenuLiLevel_2"><a href="/index.php/2014-01-29-07-15-32/mission-vision.html" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">Mission &amp; Vision</span></a></li>
                          <li id="iceMenu_119" class="iceMenuLiLevel_2"><a href="/index.php/2014-01-29-07-15-32/message-from-chancellor.html" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">Message from Vice-Chancellor </span></a></li>
                          <li id="iceMenu_121" class="iceMenuLiLevel_2"><a href="/index.php/2014-01-29-07-15-32/guiding-model.html" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">Guiding Model</span></a></li>
                          <li id="iceMenu_122" class="iceMenuLiLevel_2"><a href="/index.php/2014-01-29-07-15-32/accreditation-ranking.html" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">Accreditation &amp; Ranking</span></a></li>
                          <li id="iceMenu_124" class="iceMenuLiLevel_2"><a href="/index.php/2014-01-29-07-15-32/mhrd-ugc-compliance.html" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">MHRD/UGC compliance</span></a></li>
                          <li id="iceMenu_125" class="iceMenuLiLevel_2"><a href="/index.php/2014-01-29-07-15-32/sastra-society.html" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">SASTRA &amp; Society</span></a></li>
                        </ul>
                      </div></li>
                    </ul>
                  </li>
                  <li ><a href="http://127.0.0.1:8000/login/" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">Login</span></a>
                    <ul class="icesubMenu icemodules sub_level_1" style="width:230px">
                          </li>
                        </ul>
                      <li id="iceMenu_112" class="iceMenuLiLevel_1 mzr-drop parent"><a href="/index.php/2014-01-29-07-16-11.html" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">Announcements</span></a>
                        <ul class="icesubMenu  sub_level_1" style="width:230px"><li><div style="float:left;width:240px" class="iceCols"><ul>
                          <li id="iceMenu_140" class="iceMenuLiLevel_2"><a href="#" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">Latest Announcements</span></a></li>
                          <li id="iceMenu_141" class="iceMenuLiLevel_2"><a href="#" class="iceMenuTitle"><span class="icemega_title icemega_nosubtitle">Sastra fellowship</span></a></li>
                          <li id="iceMenu_142" class="iceMenuLiLevel_2"><a href="#" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">Other fellowship</span></a></li>
                            <ul class="icesubMenu  sub_level_2" style="width:230px"><li><div style="float:left;width:240px" class="iceCols"><ul>
                            </ul></div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li id="iceMenu_113" class="iceMenuLiLevel_1 mzr-drop parent active"><a href="http://127.0.0.1:8000/home/" class="icemega_active iceMenuTitle"><span class="icemega_title icemega_nosubtitle">Research</span></a>
        </li>
        <li id="iceMenu_114" class="iceMenuLiLevel_1 mzr-drop parent"><a href="http://127.0.0.1:8000/login1/" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">Downloads</span></a>
          <ul class="icesubMenu icemodules sub_level_1" style="width:230px">
            <li><div style="float:left;width:240px" class="iceCols">
              <ul>
                  <ul class="icesubMenu  sub_level_2" style="width:230px">
                    <li><div style="float:left;width:240px" class="iceCols"><ul>
                    </ul></div>
                  </li>
                </ul>
              </li>
                <ul class="icesubMenu  sub_level_2" style="width:230px"><li><div style="float:left;width:240px" class="iceCols"><ul>
                  </ul></div>
              </li>
            </ul>
          </li>
          </ul></div>
      </li>
    </ul>
  </li>
  <li id="iceMenu_281" class="iceMenuLiLevel_1 mzr-drop parent"><a href="http://127.0.0.1:8000/superm/" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">Supervisor</span></a>
    <ul class="icesubMenu  sub_level_1" style="width:230px">
      <li><div style="float:left;width:240px" class="iceCols">
        <ul>
          <ul class="icesubMenu  sub_level_2" style="width:230px">
              <li><div style="float:left;width:240px" class="iceCols">
              <ul>
              </ul></div>
            </li>
          </ul>
        </li>
				<li id="iceMenu_282" class="iceMenuLiLevel_2"><a href="http://127.0.0.1:8000/super1/" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">School of Civil Engineering</span></a></li>
				<li id="iceMenu_283" class="iceMenuLiLevel_2"><a href="http://127.0.0.1:8000/super2/" target="_blank" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">School of Mechanical Engineering</span></a></li>
				<li id="iceMenu_284" class="iceMenuLiLevel_2"><a href="http://127.0.0.1:8000/super3/" target="_blank" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">SChool of Elecitrical and Electronics Engineering</span></a></li>
				<li id="iceMenu_285" class="iceMenuLiLevel_2"><a href="http://127.0.0.1:8000/super4/" target="_blank" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">School of Computing</span></a></li>
				<li id="iceMenu_286" class="iceMenuLiLevel_2"><a href="#" target="_blank" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">School of Science and humanities</span></a></li>
				<li id="iceMenu_287" class="iceMenuLiLevel_2"><a href="#" target="_blank" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">School of Management Studies</span></a></li>
				<li id="iceMenu_288" class="iceMenuLiLevel_2"><a href="#" target="_blank" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">School of Chemical and Biotechnology</span></a></li>
		</ul></div>
    </li>
  </ul>
</li>
  <ul class="icesubMenu  sub_level_1" style="width:230px">
    <li><div style="float:left;width:240px" class="iceCols">
    </div></li>
  </ul>
</li>
<li id="iceMenu_289" class="iceMenuLiLevel_1 mzr-drop parent"><a href="#" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">News / Events</span></a>
  <ul class="icesubMenu  sub_level_1" style="width:230px"><li><div style="float:left;width:240px" class="iceCols">
    <ul>
      <li id="iceMenu_290" class="iceMenuLiLevel_2"><a href="/index.php/2015-01-19-06-19-03/running-news.html" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">Running News</span></a></li>
      <li id="iceMenu_291" class="iceMenuLiLevel_2"><a href="/index.php/2015-01-19-06-19-03/running-events.html" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">Running Events</span></a></li>
    </ul></div>
  </li>
</ul>
</li>
<li id="iceMenu_349" class="iceMenuLiLevel_1 mzr-drop parent"><a href="http://127.0.0.1:8000/support/" class=" iceMenuTitle"><span class="icemega_title icemega_nosubtitle">Support</span></a>
  <ul class="icesubMenu  sub_level_1" style="width:230px">
    <li><div style="float:left;width:240px" class="iceCols">
      <ul>
      </ul></div>
    </li>
  </ul>
</li>
</ul>
      </div>
      </div>

<script type="text/javascript">
	jQuery(document).ready(function(){
		var browser_width1 = jQuery(window).width();
		jQuery("#icemegamenu").find(".icesubMenu").each(function(index){
			var offset1 = jQuery(this).offset();
			var xwidth1 = offset1.left + jQuery(this).width();
			if(xwidth1 >= browser_width1){
				jQuery(this).addClass("ice_righttoleft");
			}
		});

	})
	jQuery(window).resize(function() {
		var browser_width = jQuery(window).width();
		jQuery("#icemegamenu").find(".icesubMenu").removeClass("ice_righttoleft");
		jQuery("#icemegamenu").find(".icesubMenu").each(function(index){
			var offset = jQuery(this).offset();
			var xwidth = offset.left + jQuery(this).width();

			if(xwidth >= browser_width){
				jQuery(this).addClass("ice_righttoleft");
			}
		});
	});
</script>		</div>
	</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<div id="wrapper">
				<div id="slidder">
			<div id="slideshow"></div>
			<div class="clear"></div>
		</div>
		<div id="main">
				<div id="user1"><div class="clear"></div></div>
				<div id="user2"><div id="user_23"><div class="clear"></div></div></div>
				<div id="user3"><div id="user_23"><div class="clear"></div></div></div>
				<div class="clear"></div>
			<div id="mid_content">
			<div id="content"><div class="clear"></div>
			<div id="wrapper-1">
				<div id="left_useful-link"><div class="clear"></div></div>
				<div id="left_contact"><div class="clear"></div></div>
				<div id="left_who"><div class="clear"></div></div>
			</div>
			<div id="wrapper-2">
				<div id="wraleft"><div class="clear"></div></div>
				<div id="wraright"><div class="clear"></div></div>
			</div>
			<!---------------- Mid content ----------------------------------->
					<div class="clearpad"><div class="item-page">
	<h2 class="item-page-title">You are here -><a href="file:///Users/shreyas/Research-Website-master/super.html">Supervisor Lists</a></h2>
  <h1 style="text-align:center;">Faculty of Civil Engineering</h1>
		<ul class="button-icons">
										<li class="print-icon">
						<a href="/index.php/2014-01-29-07-16-29.html?tmpl=component&amp;print=1&amp;page=" title="Print article < Research >" onclick="window.open(this.href,'win2','status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no'); return false;" rel="nofollow">					<img src="/media/system/images/printButton.png" alt="Print" />	</a>				</li>

								<li class="email-icon">
						<a href="/index.php/component/mailto/?tmpl=component&amp;template=santosh&amp;link=0c860eb1c04f364d83f1ff29161b2db6056b50d8" title="Email this link to a friend" onclick="window.open(this.href,'win2','width=400,height=350,menubar=yes,resizable=yes'); return false;" rel="nofollow">			<img src="/media/system/images/emailButton.png" alt="Email" />	</a>				</li>
												</ul>








<div class="blogcontent">
  <p>
	<p style="text-align: justify;">
		&nbsp;</p>
	<p style="text-align: center;">
		<img src="{%static "nirman vihaar.jpg"%}" style="width: 800px; height: 541px;" /></p>
	<p style="text-align: justify;">
		&nbsp;</p>
	<p style="text-align: justify;">
		&nbsp;</p>
	<p style="text-align: justify;">
	<ol style="font-family:Cambria; line-height:2; font-size:14px;">
		<p style="text-align: justify;">
      The details of recognized supervisors mentioned below are provided based on his/her application for supervisor recognition. The recognized supervisor working in the recognized department Refer sec(i) to(iv) in the list of recognized research department available in the website Clickhere shall only act as Supervisor. Supervisors working in the recognized R&D Center/non-recognized research Departments of Engineering College/Architecture Schools affiliated to this University shall function only as Joint Supervisor.
      <br><br>
      Some of the supervisors listed below may be migrated to other University or retired on superannuation. Hence the candidates are instructed to ensure the present details of the supervisor(s).
<br><br>
    </p>	</ol>
		<table>
			<tr>
				<th>S.NO</th>
				<th>Supervisor Name</th>
				<th>Department</th>
				<th>Research Area</th>
				<th>Email</th>
			</tr>
			<tr>
				<td>1</td>
				<td>Sarvana Raja Mohan .K</td>
				<td>Civil</td>
				<td>Earthquake Engineering,Fibre Reinforced Concrete,Concrete Composite,Steel Structures,Structural Design,Experimental methods and Model Analysis</td>
				<td>srm@civil.sastra.edu</td>
			</tr>
			<tr>
				<td>2</td>
				<td>DHINAKARAN .G</td>
				<td>Civil</td>
				<td>Offshore Structures
Concrete materials
High Performance Concrete
Sustainable Concrete
Transportation Engineering</td>
				<td>gd@civil.sastra.edu</td>
			</tr>
			<tr>
				<td>3</td>
				<td>RAVINDAR .S</td>
				<td>Civil</td>
				<td>Engineering Geology
Surveying
</td>
				<td>ravindar@civil.sastra.edu</td>
			</tr>
			<tr>
				<td>4</td>
				<td>SURIBABU .C.R</td>
				<td>Civil</td>
				<td>Water Resources System modeling,
Design of Water Distribution System, Application of Computers and Geographic Information Systems (GIS) in Land and Water Resources Management</td>
				<td>suribabu@civil.sastra.edu</td>
			</tr>
			<tr>
				<td>5</td>
				<td>RAGHURAM EKAMBARAM</td>
				<td>Civil</td>
				<td>Structural Engineering
- Applied Mechanics
- Structural Analysis
- Buckling of Structures
- Dynamics of Structures
- Finite Element Method
</td>
				<td>raghuramekambaram@civil.sastra.edu</td>
			</tr>
			<tr>
				<td>6</td>
				<td>VENKATASUBRAMANIAN .C</td>
				<td>Civil</td>
				<td>Water Resources Engineering, Soil Mechanics, Applied Mechanics, Surveying ,Building construction and Transportation.
</td>
				<td>cv@civil.sastra.edu</td>
			</tr>
			<tr>
				<td>7</td>
				<td>SUJATHA E.RAMANI</td>
				<td>Civil</td>
				<td>
Geotechnical Engineering; Spatial Analysis</td>
				<td>sujatha@civil.sastra.edu</td>
			</tr>
			<tr>
				<td>8</td>
				<td>RAMAKRISHNAN .K</td>
				<td>Civil</td>
				<td>Water Resources Engg. and Structural Engg.</td>
				<td>ramakrishnan@civil.sastra.edu</td>
			</tr>
			<tr>
				<td>9</td>
				<td>SUBRAMANYAM .B</td>
				<td>Civil</td>
				<td>Water and Wastewater Treatment</td>
				<td>subramanyam@civil.sastra.edu</td>
			</tr>
			<tr>
				<td>10</td>
				<td>RAGHAVAN R</td>
				<td>Civil</td>
				<td>General steel structures
Cold-formed steel
Structural stability
Space trusses</td>
				<td>raghavan@civil.sastra.edu</td>
			</tr>
			<tr>
				<td>11</td>
				<td>MUTHU .D</td>
				<td>Civil</td>
				<td>Water resources engineering, Building materials and construction</td>
				<td>dmuthu@civil.sastra.edu</td>
			</tr>
		</table>
</div>





</div>
 </div>

				</div>


		<div id="bottom">
			<div style="<!--border:1px outset #eee;-->">
				<div id="bottom-1">
				<div id="bottom_useful-link"><div class="clear"></div></div>
				<div id="bottom2"><div class="clear"></div></div>
				<div id="bottom_contact"><div class="clear"></div></div>
				<div class="clear"></div>
				</div>
			</div>
		</div>
		</div><div class="clear"></div>
		</div>
	</div>
<style>
 table{
	 border-collapse: collapse;
	 width: 100%;
 }
 td,th{
	 text-align: left;
	 padding: 8px;
	 border:1px solid #dddddd;
 }
</style>
	<div id="footer">
		<div id="footer1">
			<p class="copyrights">&copy; SASTRA Deemed University, All Rights Reserved. 2018<br/><b>SASTRA Deemed University</b>, Tirumalaisamudram, Thanjavur - 613401 - (+91) (4362) 264101-108, 304000-010, Telefax: +91 4362 264120</p>
		</div><div class="clear"></div>
	</div>
</div>
<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-48118274-1', 'auto');
	  ga('send', 'pageview');
	</script>
</body>
</html>
