{%load static%}
<html>
<head>
	<title>SASTRA Deemed University</title>
	<meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
	/>
	<!--Materialize CSS-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- Compiled and minified JavaScript for Materialize -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<link rel="stylesheet" href="{%static 'header.css' %}">
	<script src="{% static 'header.js' %}"></script>
	<link rel="stylesheet" href="{% static 'supervisor.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title>Research - SASTRA Deemed University</title>
</head>
<body oncontextmenu="return false" >		
		<div id="navbar">
				<a href="/logq" class="buttons">{{logg}}</a>
				<a href="javascript:void(0)" class="buttons">Downloads</a>
					<a href="http://www.sastra.edu" class="buttons">SASTRA Home</a>
					<p class="main">PhD Portal</p>
				<a href="http://www.sastra.edu" class="brand-logo"><div class="logo2"><img src="https://www.sastra.edu/images/sastra/SASTRA_DEEMED_NEW_1.png" alt="SASTRA" /></div></a>
		</div>
	<div id="navbar-mobile">
		<a href="#" class="brand-logo"><div class="logo2"><img src="https://www.sastra.edu/images/sastra/SASTRA_DEEMED_NEW_1.png" alt="SASTRA" /></div></a>
		<p class="main">PhD Portal</p>
		<a href="javascript:void(0);" class="icon" onclick="sideLoad()">
					<i class="fas fa-bars"></i>
		</a>
	</div>
	<div id="sidebar-mobile">
		<a href="javascript:void(0);" class="icon" onclick="sideClose()">
					<i class="fas fa-times"></i>
		</a>
		<a href="#about" onclick="sideClose()">{{logg}}</a>
		<a href="#" onclick="sideClose()">Downloads</a>
		<a href="#" onclick="sideClose()">SASTRA Home</a>
	</div> 	
			<!---------------- Mid content ----------------------------------->
					<div class="clearpad"><div class="item-page">
						<style>
					body {font-family: Arial;}

					/* Style the tab */
					.tab {
					    overflow: hidden;
					    border: 1px solid #ccc;
					    background-color: #f1f1f1;
					}

					/* Style the buttons inside the tab */
					.tab button {
					    background-color: inherit;
					    float: left;
					    border: none;
					    outline: none;
					    cursor: pointer;
					    padding: 14px 16px;
					    transition: 0.3s;
					    font-size: 17px;
					}

					/* Change background color of buttons on hover */
					.tab button:hover {
					    background-color: #ddd;
					}

					/* Create an active/current tablink class */
					.tab button.active {
					    background-color: #ccc;
					}
					.tab {
  float: left;
  width: 16%;
  height: 300px;
}
					/* Style the tab content */
					.tabcontent {
					    display: none;
					    padding: 6px 12px;
					    border-top: none;
					}
					.welcome{
						float:right;
						margin-right: 2%;
					}
					.footer{
	width:100%;
	background-color: #3C5EC1;
	color:white;
	height: 5%;
	text-align: center;
	z-index: 999;

}
table {
  width: 80%;
  margin-left: 13%;
}
					</style>
					</head>
					<body>
							<h4><p class="welcome">Welcome Dr. {{name}}</p></h4>		
							<div class="hold">
									<div class="holding s-12">
										<ul class="tabs">
											<li class="tab"><a class="tabbed" href="#scholars"> <span class="blue-text text-darken-2">List of Scholars</span></a></li>
											<li class="tab"><a class="tabbed" href="#profile"> <span class="blue-text text-darken-2">Profile</span></a></li>
											<li class="tab"><a class="tabbed" href="#messages"> <span class="blue-text text-darken-2">Messages</span></a></li>
										</ul>
									</div>
								</div>
                      <div id="scholars">
						  <div class="card">
					  <h4><center>List of Scholars: </center></h4>
					  <br>
						<table>
							<tr>
								<th>Register Number</th>
								<th>Name</th>
								<th>E-mail</th>
								<th>Information</th>
				      </tr>
            {%for s in sch%}
						<tr>
							<td >{{s.scholar.regno}}</td>
							<td >{{s.name}}</td>
							<td >{{s.email}}</td>
							<td>
								<form method="POST" action="http://127.0.0.1:8000/storesch/">
									{%csrf_token%}
									<input type="hidden" name="regno" value={{s.scholar.regno}}>
									<input style="width:40%" type="submit" name="Info" value="Info">
								</form>
							</td>
						</tr>
						{%endfor%}
					</table>
				</div>
				</div>

					<div id="profile">
					  <div id="divided">
						<div class="done">
							<div class="card">
								<div class="card-title">Personal Details</div>
									<table>
									<tr>
										<th style="text-align:center">Name:</th>
										<td style="text-align:center">{{name}} {{lname}}</td>
									</tr>
									<tr>
										<th style="text-align:center">Sex:</th>
										<td style="text-align:center">{{sex}}</td>
									</tr>
									<tr>
										<th style="text-align:center">E-mail:</th>
										<td style="text-align:center">{{email}}</td>
									</tr>
									<tr>
										<th style="text-align:center">Employee ID:</th>
										<td style="text-align:center">{{mid}}</td>
									</tr>
									<tr>
										<th style="text-align:center">School:</th>
										<td style="text-align:center">{{school}}</td>
									</tr>
									<tr>
										<th style="text-align:center">Area of Interest:</th>
										<td style="text-align:center">{{aoi}}</td>
									</tr>
								</table>
							</div></div>
							<div class="done">
								<div class="card">
						<h3>Publication Details :</h3>
						<table>
							<tr>
								<th style="width:30%">Title of Publication</th>
								<th style="text-align:center">Name of the Journal</th>
								<th style="text-align:center">Authors </th>
								<th style="text-align:center">Year of Publication</th>
							</tr>
							{%for p in pubs%}
							  <tr>
									<td style="text-align:center">{{p.title}}</td>
									<td style="text-align:center">{{p.name}}</td>
									<td style="text-align:center">{{p.author}}</td>
									<td style="text-align:center">{{p.date}}</td>
							  </tr>
							{%endfor%}
						</table>
					</div>
					   
					</div>
					</div>
					</div>
					<div id="messages">
							<div class="card">
									<h5><center>Messages</center></h5>
									<a class="btn-floating tooltipped waves-effect waves-light blue darken-3" href="/stexted/" data-position="top" data-tooltip="Click to send a new message"><i class="material-icons">add</i></a>
									{% if dbMessages %}
									{% for message in dbMessages %}
									{% if message.schunread == True %}
									<b>
									<form action="/Mview/" method="POST">
									<input type="hidden" value="{{message.id}}">
									<button type="submit">
									{{message.head}}
								</button>
									 </form> 
									</b>
									{% else %}
									<form action="/Mview/" method="POST">
										<input type="hidden" name="tid" value="{{message.id}}">
										<button type="submit">
										{{message.head}}
									</button>
									</form> 
									{% endif %}
									{% endfor %}
									{% else %}
									<p>No messages to show currently!</p>
									{% endif %}
								</div>
				</div>

		<script>
			var element=document.querySelector('.tabs');
		    var instance=M.Tabs.init(element,{
							swipeable: true,
						});
		</script>
</div>
</div>
 </div>
				</div>
		<div id="bottom">
			<div style="<!--border:1px outset #eee;-->">
				<div id="bottom-1">
				<div id="bottom_useful-link"><div class="clear"></div></div>
				<div id="bottom2"><div class="clear"></div></div>
				<div id="bottom_contact"><div class="clear"></div></div>
				<div class="clear"></div>
				</div>
			</div>
		</div>
		</div><div class="clear"></div>
		</div>
	</div>
	<br><br><br><br><br><br><br><br><br><br><br>
	<div class="footer">
			<p class="footer-text">&copy; SASTRA DEEMED UNIVERSITY, All Rights Reserved. 2019</p>
		</div>
		
</div>
<script>
							document.getElementById("defaultOpen").click();

	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-48118274-1', 'auto');
	  ga('send', 'pageview');
	</script>
</body>
</html>
