{%load static%}
<html>
<head>
	<title>SASTRA Deemed University</title>
	<meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
	<link rel="stylesheet" href="{%static 'header.css' %}">
  <script src="{% static 'header.js' %}"></script>
    	<!--Materialize CSS-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
      <!-- Compiled and minified JavaScript for Materialize -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script> 
  <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title>Research - SASTRA Deemed University</title>
</head>
<body oncontextmenu="return false" >
			
    <div id="navbar">
        <a href="javascript:void(0)" class="buttons">Downloads</a>
          <a href="http://www.sastra.edu" class="buttons">SASTRA Home</a>
          <p class="main">Research Portal</p>
        <a href="http://www.sastra.edu" class="brand-logo"><div class="logo2"><img src="https://www.sastra.edu/images/sastra/SASTRA_DEEMED_NEW_1.png" alt="SASTRA" /></div></a>
    </div>
	<div id="navbar-mobile">
		<a href="#" class="brand-logo"><div class="logo2"><img src="https://www.sastra.edu/images/sastra/SASTRA_DEEMED_NEW_1.png" alt="SASTRA" /></div></a>
		<a href="javascript:void(0);" class="icon" onclick="sideLoad()">
					<i class="fas fa-bars"></i>
		</a>
	</div>
	<div id="sidebar-mobile">
		<a href="javascript:void(0);" class="icon" onclick="sideClose()">
					<i class="fas fa-times"></i>
		</a>
		<a href="#about" onclick="sideClose()">{{logg}}</a>
		<a href="#" onclick="sideClose()">Downloads</a>
		<a href="#" onclick="sideClose()">SASTRA Home</a>
	</div> 	
			<!---------------- Mid content ----------------------------------->
          <div class="container">
              <h3 class="item-page-title">Registration Form - Supervisor</h3>
            <div class="divider"></div>
            <form method="POST" action="http://127.0.0.1:8000/sureg/" name="loginsu">
              {%csrf_token%}
              <div class="input-field col s6">
                  <input placeholder="Name" id="name" name="name" type="text" class="validate">
              </div>
              <span>Sex</span>
              <label>
                  <input name="sex" value="Male" type="radio">
                  <span>Male</span>
              </label>
              <label>
                  <input name="sex" value="Female" type="radio">
                  <span>Female</span>
              </label>
              <div class="input-field col s6">
                    <input placeholder="Phone Number" id="phno" name="phno" type="text" class="validate">
              </div>
              <div class="input-field col s6">
                  <input placeholder="Register Number" id="mid" name="mid" type="text" class="validate">
              </div>
              <div class="input-field col s6">
                  <input placeholder="Department" id="school" name="school" type="text" class="validate">
              </div>
              <div class="input-field col s6">
                  <input placeholder="Official E-mail ID" id="email" name="email" type="text" class="validate">
              </div>
              <div class="input-field col s6">
                  <input placeholder="Personal E-mail ID" id="pemail" name="pemail" type="text" class="validate">
              </div>
              <div class="input-field col s6">
                  <input id="aoi" name="aoi" type="text" class="validate">
                  <label for="aoi">Areas of Interest</label>
              </div>
              <span>Institution:</span>
              <label>
                  <input name="exin" value="SASTRA" type="radio" onclick="document.getElementById('external').style.display='none'">
                  <span>SASTRA</span>
              </label>
              <label>
                  <input name="exin" value="Other" type="radio" onclick="document.getElementById('external').style.display='block'">
                  <span>Other</span>
              </label>
              <div class="external" id="external">
                  <div class="input-field col s6">
                      <input id="inst" name="institution" type="text" value="Institution Name" class="validate">
                  </div>
                  <div class="input-field col s6">
                      <input id="desig" name="designation" type="text" value="Designation" class="validate">
                  </div>
              </div>
              <br><br><br><br>
              <center><button class="btn waves-effect waves-light blue" type="submit" name="Info">submit
                </button></center>            </form>
            </div>
            <style>
                .external{
                    display: none;
                }
                .main{
                    margin-right: 23%;
                }
            </style>
        </body>
        </html>